.main-banner-section {
    background-image: url('https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_1583,c_limit/8eb285a9-ccad-4840-af51-fce7432e89eb/nike-just-do-it.jpg');
    height: 330px;
    width: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* CSS */
.my-btn {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 35px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 25px;
  min-width: 0;
  outline: none;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.my-btn:disabled {
  pointer-events: none;
}

.my-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.my-btn:active {
  box-shadow: none;
  transform: translateY(0);
}