.footer-menu-text p {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: medium;
    color: gray;
    transition: ease 0.3s;
}
.footer-menu-text p:hover {
    color: black;
    cursor: pointer;
}